<script setup lang="ts">
import { onMounted } from 'vue'
import { useNewsStore } from '@/stores/news'

import Header from '@/components/Header.vue'
import Hero from '@/components/Hero.vue'
import Item from '@/components/Item.vue'
import Footer from '@/components/Footer.vue'

const store = useNewsStore()

onMounted(():void => {
  store.fetchNews()
})

const showMore = ():void => {
  store.showMore()
  store.fetchNews()
}
</script>

<template>
  <div class="top">
    <Header />
    <Hero />
  </div>
  <div class="content">
    <div class="content__wrapper">
      <Item v-for="item of store.items" :item="item" />
    </div>
    <button
      v-if="store.nav.current < store.nav.total" 
      @click="showMore"
      class="content__more"
    >
      Загрузить ещё
    </button>
  </div>
  <Footer />
</template>

<style lang="scss">
.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-gap: 3px;
}
.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 48px 200px 48px;
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 48px;
    row-gap: 64px;
    @media only screen and (min-width: 1024px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media only screen and (min-width: 1600px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media only screen and (min-width: 2100px) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  &__more {
    position: absolute;
    bottom: 72px;
    padding: 16px 32px;
    border-radius: 8px;
    color: #002DBF;
    border: 1px solid #002DBF;
    transition: color ease 0.3s, background ease 0.3s;
    &:hover {
      color: #fff;
      background: #002DBF;
    }
  }
}
</style>