<template>
  <footer class="footer">
    <div class="footer__wrapper">
      <img class="footer__img" src="@/assets/img/header-logo.svg" alt="alpha">
      <div class="footer__copyright">© alpha, 2023</div>
    </div>
  </footer>
</template>

<style lang="scss">
.footer {
  width: 100%;
  height: 202px;
  padding: 0 100px;
  display: flex;
  align-items: center;
  background: #F0F6FE;

  &__wrapper {
    display: flex;
    flex-direction: column;
    grid-gap: 16px;
  }

  &__img {
    width: 114px;
    height: 36px;
  }

  &__copyright {
    color: #81899D;
    line-height: 22px;
    font-size: 16px;
    font-weight: 400;
  }
}
</style>