<template>
  <header class="header">
    <img class="header__img" src="@/assets/img/header-logo.svg" alt="alpha">
  </header>
</template>

<style lang="scss">
.header {
  width: 100%;
  height: 123px;
  padding: 0 100px;
  display: flex;
  align-items: center;

  &__img {
    width: 152px;
    height: 48px;
  }
}
</style>