<template>
  <div class="hero">
    <img class="hero__img" src="@/assets/img/hero-bg.jpg" alt="hero image"/>
    <div class="hero__title">Новости</div>
  </div>
</template>

<style lang="scss">
.hero {
  position: relative;
  width: calc(100% - 2px);
  height: 17vw;
  max-height: 320px;
  display: flex;
  justify-content: flex-end;
  background: #eff2f9;
  overflow: hidden;
  &__img {
    height: 100%;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  &__title {
    position: absolute;
    left: 100px;
    bottom: 48px;
    color: #17171A;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
  }
}
</style>