<script setup lang="ts">
import { computed } from 'vue'
import { Item } from '@/models/item'

const props = defineProps<{
  item: Item
}>()

const getImage = computed(():string => {
  return props.item?.image
})
const getDay = computed(():string => {
  const date:Date = new Date(props.item?.date ? props.item.date * 1000 : 0)
  return `${date.getDate()}`
})
const getMonthYear = computed(():string => {
  const month:String[] = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
  const date:Date = new Date(props.item?.date ? props.item.date * 1000 : 0)
  return `${month[date.getMonth()]}<br />${date.getFullYear()}`
})
const getTitle = computed(():string => {
  return `${props.item?.name}`
})
const getPreview = computed(():string => {
  return `${props.item?.previewText}`
})
const getTag = computed(():string => {
  return props.item?.type?.value
})
</script>

<template>
  <div class="item">
    <div class="item__border" />
    <img v-if="getImage" class="item__img" :src="getImage" alt="preview image">
    <div class="item__content" :class="{'item__content-no_image': !getImage}">
      <div class="item__content__date">
        <div class="item__content__date__day">{{ getDay }}</div>
        <div class="item__content__date__month-year" v-html="getMonthYear" />
      </div>
      <div class="item__content__title">{{ getTitle }}</div>
      <div class="item__content__preview">{{ getPreview }}</div>
    </div>
    <div class="item__tag">{{ getTag }}</div>
  </div>
</template>

<style lang="scss">
.item {
  position: relative;
  border-radius: 16px;
  overflow: hidden;

  &__border {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid #0F62FE;
    border-radius: 16px;
    pointer-events: none;
  }

  &__img {
    position: relative;
    width: 100%;
    height: 250px;
    object-fit: cover;
  }

  &__content {
    padding: 32px 32px 100px 32px;
    display: flex;
    flex-direction: column;
    grid-gap: 16px;
    &-no_image {
      padding-top: 48px;
    }
    &__date {
      display: flex;
      align-items: center;
      grid-gap: 4px;
      color: #A1A7B5;
      &__day {
        font-size: 36px;
      }
      &__month-year {
        font-size: 15px;
        font-weight: 700;
        line-height: 17px;
        letter-spacing: -0.01em;

      }
    }
    &__title {
      font-size: 22px;
      line-height: 26px;
      color: #0C5BEF;
      transition: color ease 0.3s;
      cursor: pointer;
      &:hover {
        color: #0029A9;
      }
    }
    &__preview {
      font-size: 20px;
      line-height: 26px;
      letter-spacing: -0.01em;
      color: #222327;
    }
  }

  &__tag {
    position: absolute;
    left: 32px;
    bottom: 32px;
    padding: 4px 16px 4px 16px;
    border-radius: 360px;
    background: #F0F6FE;
  }
}
</style>